$min-resolution: 120dpi;
$min-width: 800px;

.introduction{
    html{
        padding: 30px;
    }

    .text{
        margin-left: 0px;
    }
    .container
    {
        margin-top: 50px;
    }
    
    .picture{
        text-align: center;
        margin-top: 100px;
           
    }
    
    h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 40px;
        color: darkslategrey;
        margin-top: 60px;
    }
    .text2{
        width:70%;
        line-height: 2;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:darkcyan;
        margin-top: 50px;
    }
    .button{
        
        border: none;
        color: white;
        padding: 15px 35px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin-top: 30px;
        cursor: pointer;
        margin-right: 70px;
    }
    .button1
    {
        background-color:olivedrab;
    }
    .button2
    {
        background-color:steelblue;

    }
    .button3
    {
        background-color:darkseagreen;
        border-radius: 10px;
        font-size: 10px;
        padding: 5px 10px;
    }
    
 
}

