.DocSchedule{
  .container{
    .title{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 40px;
      color: darkslategrey;
      width: fit-content;
    }
    .next-prev-buttons{
      text-align: right;
      button{
        border: none;
        color: white;
        padding: 10px 35px;
        font-size: 16px;
        cursor: pointer;
        background-color:darkgreen;
        margin-left: 10px;
        box-shadow: 2px 2px 2px grey;
      }
    }
    .generateHours{
      .date-title{
        background-color:steelblue;
        color: white;
        padding: 10px 35px;
        text-align: center;
        border-radius: 5px;
        font-weight: bold;
      }
      .hour{
        text-decoration-color: black;
        background-color: #ffed94;
        margin-top: 3px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
      }
      .occupied{
        background-color: #f7c743;
        color: black;
        font-weight: bold;

      }
      .timeLink{
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  
}