.patientsignup{
    
    h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 40px;
        color: darkslategrey;
        
    } 
    h3
    {
        width:70%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:darkslategrey;
        margin-top: 20px;
    }
    
    .text1{
        margin-top: 50px;
        margin-left: 5%;;
        .text2{

            line-height: 2;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color:darkcyan;
        }
        .picture{
            text-align: center;
        }
    }
    .signUp{    
        background-color:cornsilk;
        text-align: center;
        border-radius: 5%;
        margin-left: 5%;

        h1{
            text-align: center;
        }
    }

    .signupContent{
        display: inline-block;
        width: 80%;
        text-align: left;
    }


    

   

    input, select{
        width: 100%;
        padding: 10px 10px;
        margin: 0px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button
    {
        width: 100%;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: green;
        color:white
    }
}
