.patientsignup{
    header{
        width: 100%;
        margin-top: 20px;
        text-align: left;
    }
    body{
        background-color:white;
    }
    section{
        display: flex;
    }
    .signUp{
        padding: 2px;
        text-align: center;
        border-style:hidden;
        border-radius: 20px;
        background-color:cornsilk;
        width: 40%;
        height: 70%;
        position: relative;
        left: 55%;
        margin-top: -20px;
    }
    .text1
    {
        width: 45%;
        margin-top: -400px;
        margin-left: 40px;
        font-size: 70%;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        color:darkslategrey;
        
    }


    input[type=text],[type=date],[type=email],select{
        width: 80%;
        padding: 10px 10px;
        margin: 0px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button
    {
        width: 80%;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: green;
        color:white
    }
}
